<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category list</title>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th> 
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(product) { %>
       <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><img src="images/<%= product.img %>" width="50"></td>
       </tr>
     <% }); %>
    </tbody>
  </table>
</body>
</html>